<template>
  <v-btn
    color="primary"
    depressed
    @click="click"
  >
    <v-icon
      v-if="showIcon"
      left
      icon="mdi-delete"
    />
    <span
      v-if="$vuetify.display.width > 375"
    >
      {{ btnText }}
    </span>
  </v-btn>
</template>

<script>
export default {
  name: 'UserListButton',
  props: {
    btnText: {
      type: String,
      default: '',
    },
  },
  computed: {
    showIcon() {
      return this.$vuetify.display.md
          || this.$vuetify.display.lg
          || this.$vuetify.display.sm
          || this.$vuetify.display.width < 375;
    },
  },
  methods: {
    click() {
      this.$emit('click');
    },
  },
};
</script>

<style scoped>

</style>
