<template>
  <div class="user-list-card">
    <div class="user-list-card__header d-flex mb-4 px-4">
      <div
        v-for="(header, index) in headers"
        :key="index"
        :class="`user-list-card__header__${header.id}`"
      >
        <div
          v-if="header.id !== 'action'"
        >
          {{ header.title }}
        </div>
      </div>
    </div>
    <div
      v-for="(item,index) in items"
      :key="index"
      class="user-list-card__body"
    >
      <UserListRow
        :id="item.id"
        :name="item.name"
        :headers="headers"
      />
    </div>
  </div>
</template>

<script>
import UserListRow from './UserListRow.vue';
import headers from '../entities/headers';

export default {
  name: 'UserListCard',
  components: {
    UserListRow,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    headers: headers(),
  }),
};
</script>

<style scoped lang="sass">
.user-list-card
  width: 80%
  &__header
    background: rgb(var(--v-theme-primary))
    color: rgb(var(--v-theme-on-primary))
    &__id
      width: 10%
    &__name
      width: 60%
    &__action
      width: 30%
@media(max-width: 599px)
  .user-list-card
    &__header
      &__id
        padding-right: 10px
        width: 10%
      &__name
        padding-right: 10px
        width: 30%
      &__action
        width: 60%
@media(max-width: 375px)
  .user-list-card
    &__header
      &__id
        width: 20%
      &__name
        width: 40%
      &__action
        width: 40%
</style>
