<template>
  <div class="d-flex align-center pb-4 px-4">
    <div class="user-list-item__id">
      {{ id }}
    </div>
    <div class="user-list-item__name">
      {{ name }}
    </div>
    <div class="user-list-item__action">
      <UserListButton
        btn-text="Удалить"
        @click="DELETE_USER(id)"
      />
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import UserListButton from './UserListButton.vue';

export default {
  name: 'UserListRow',
  components: {
    UserListButton,
  },
  props: {
    id: {
      type: Number,
      default: 0,
    },
    name: {
      type: String,
      default: '',
    },
    headers: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    ...mapMutations(['DELETE_USER']),
  },
};
</script>

<style scoped lang="sass">
.user-list-item
  &__id
    width: 10%
  &__name
    width: 60%
  &__action
    width: 30%
    display: flex
    justify-content: end
@media(max-width: 599px)
  .user-list-item
    &__id
      padding-right: 10px
      width: 10%
    &__name
      padding-right: 10px
      width: 30%
    &__action
      width: 60%
@media(max-width: 375px)
  .user-list-item
    &__id
      padding-right: 10px
      width: 20%
    &__name
      padding-right: 10px
      width: 40%
    &__action
      width: 40%
</style>
