<template>
  <v-app>
    <v-main>
      <div class="d-flex justify-center pt-10 px-10">
        <UserListCard :items="data" />
      </div>
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from 'vuex';
import UserListCard from './components/UserListCard.vue';

export default {
  name: 'App',

  components: {
    UserListCard,
  },
  computed: {
    ...mapState(['data']),
  },
};
</script>
